/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-ene-2017, 19:17:27
    Author     : Y3895917F
body{
    color: #080808;
    background-color: rgba(125,25,25,0.1);
}
.col-lg-12{
    
    height: 100px;
    border-bottom: thin solid #dedede;
    background-color: white;
    
}

.col-lg-6{
    
}



.col-lg-3{
    
}

*/
